/* body {
  font-family: monospace;
  background: #7c92f7;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

svg {
  border-radius: 10px;
  filter: drop-shadow(0px 8px 16px #000);
  text-align: center;
  background-color: #0f1633;
} */

/* circle {
  stroke: #3d3d3d;
  fill: none;
} */
