body,
g {
  font-family: monospace;
  font-weight: 400;
  background: #f8efe7;
  margin: 0;
}

svg {
  margin-top: -20px;
}
.title {
  font-family: "IBM Plex Mono", monospace;
  margin-left: 30px;
}

.title h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.2;
}

.title h3 {
  margin-top: -8px;
  opacity: 0.9;
  font-weight: 400;
  line-height: 1.1;
}

span {
  color: #009f29;
}

#xAxisTitle,
#yAxisTitle,
#title {
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.8;
}

#group g {
  cursor: pointer;
}

/* PLOT POINT STYLE BELOW */

/* default state points: up */
.up circle {
  opacity: 1;
  fill: none;
  stroke: #000;
  transition: all 0.6s;
}
.up text {
  fill: #000;
  font-size: 100%;
  opacity: 0.85;
  transition: all 0.6s;
}

/* reduced focus: inactive  */
.inactive circle {
  opacity: 0.2;
  r: 4;
  fill: none;
  stroke: #000;
  transition: all 0.6s;
}
.inactive text {
  fill: #000;
  font-size: 95%;
  opacity: 0.25;
  transition: all 0.6s;
}

/* hover on point: active */
.active circle {
  fill: #ff7233;
  stroke: none;
  r: 5;
  opacity: 1;
  transition: all 0.6s;
}
.active text {
  fill: #000;
  font-size: 110%;
  opacity: 1;
  transition: all 0.6s;
}
