html,
body {
  font-family: "Raleway", sans-serif;
  background: #f7cc7c;
  color: #3d3d3d;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.content {
  margin: auto;
  text-align: center;
}

img {
  border-radius: 10px;
  filter: drop-shadow(0px 8px 16px #333);
  width: 800px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

.notes {
  margin-top: 180px;
  margin-left: 20px;
  width: 80%;
}
